@import "../../../Sass/variables";

.card {
  &:hover{
    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      flex-wrap: wrap;
    }
  }

  .card-action-btn {
    transition: opacity 0.3s ease, filter 0.3s ease;

    &:hover {
      svg.icon-tabler {
        stroke: $textcolor;
      }
    }
  }
  .card-title {
    transition: color 0.3s ease;

    &:hover {
      color: $textcolor;
      cursor: pointer;
    }
  }
}
