@import "./../../../Sass/_variables";
.card {
  .card-title:hover {
    transition: 0.3s;
    &:hover {
      color: $color-text-secondry;
      cursor: pointer;
    }
  }
  .price{
    color: $color-price;
  }
}
