
@import "./../../../Sass/_variables";
.card {
  .card-title {
    transition: 0.3s;
    &:hover {
      color: $color-text-secondry;
      cursor: pointer;
    }
  }
  .price{
    color: $color-price;
  }

.card {
  .actions{
    // transition: transform 0.3s ease;
  }
  &:hover{
    .actions {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      flex-wrap: wrap;
    }
  }
  // .card-img {
  //   transition: filter 0.3s ease, transform 0.3s ease;
  //   &:hover {
  //     filter: blur(.5);
  //     transform: scale(1.1);
  //   }
  // }

  .card-action-btn {
    &:hover {
      svg.icon-tabler {
        stroke: $color-text-secondry;
      }
    }
  }
  .card-title {
    transition: color 0.3s ease;

    &:hover {
      color: $color-text-secondry;
      cursor: pointer;
    }
  }
}
}
.price{
  color: $color-price;
}
.icon-container{
  width: 45px;
    height: 45px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    svg{
      transition: 0.3s;
    }
    &:hover{
      svg{
        stroke: $color-text-secondry;
      }
    }
}
