.product-item {
  transition: transform 0.2s ease;
}

.product-item:hover {
  transform: scale(1.05);
}
.clk:hover{
  // color: var(color-light-gray);
  color: rgb(227, 150, 49);
  cursor: pointer;
}
