@import "./../../Sass/_variables";
.product-item {
  transition: transform 0.2s ease;
}

.product-item:hover {
  transform: scale(1.05);
}
.clk:hover {
  color: $color-text-secondry;
  cursor: pointer;
}

.active {
  font-weight: bold;
  color: $color-text-secondry;
}
