<div class="container mb-5 pb-5 d-flex flex-column gap-4 justify-content-center align-items-center" id="about">
  <div class="content p-5 d-flex flex-column gap-4 justify-content-center align-items-center">
    <h1>Woodex Store</h1>
  <p class="w-75 ">
    When you start with a portrait and search for a pure form, a clear volume,
    through successive eliminations, you arrive inevitably at the egg. Likewise,
    starting with the egg and following the same process in reverse, one
    finishes with the portrait.
  </p>
  </div>
  <div class="vid position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <div class="play position-absolute z-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
        <path d="M7 4v16l13 -8z" />
      </svg>
    </div>
    <div class="backdrop">

    </div>
    <div class="w-100">
      <img class="w-100" src="./../../../assets/Images/products/about-banner.jpg" alt="">
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade p-0" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered p-0">
    <div class="modal-content p-0">
      <div class="modal-body p-0 position-relative">
        <button type="button" class="btn bg-white position-absolute z-1 rounded-0" data-bs-dismiss="modal">X</button>
        <video controls class="w-100 h-100" autoplay loop>
          <source src="../../../assets/videos/small.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</div>

