@import "../../Sass/_variables";
header{

.srch {
  width: fit-content;
  height: 30px;
  border-radius: 10px;
}

.srch input {
  width: fit-content;
  height: 50px;
  outline: none;
  border: none;
  border-bottom: 1px solid $color-price;
  &:focus{
    border-bottom-color: $color-text-secondry;
  }
}

.srch svg {
  stroke: $color-price;
  position: absolute;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;

}
}
button {
  position: relative;
  svg {
    stroke: $color-text;
    transition: 0.3s;
  }
  &:hover {
    color: $color-text-secondry;
    svg {
      stroke: $color-text-secondry;
    }
  }
  .counter {
    background: $color-text-secondry;
    color: #fff;
    width: 20px;
    height: 20px;
    bottom: -10px;
    right: -10px;
    line-height: 20px;
    font-size: 0.8rem;
  }

}
h1{
  cursor: pointer;
}
