<div
  class="offcanvas offcanvas-end p-5"
  tabindex="-1"
  id="offcanvasRight"
  aria-labelledby="offcanvasRightLabel"
>
  <div class="offcanvas-header position-relative">
    <!-- <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5> -->
    <button
      type="button"
      class="btn-close position-absolute"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body mt-5">
    <div class="links d-flex flex-column gap-4 fw-bold">
      <div class="link">Home</div>
      <div class="link">About</div>
      <div class="link">Products</div>
      <div class="link">Blog</div>
    </div>
    <div class="contact-info mt-5 d-flex flex-column gap-4">
      <h6>Contact Us</h6>
      <p>
        69 Halsey St, Ny 10002, New York, United States
        <br>
        support.center&#64;woodex.co
        <br>
        (0000) 1235 567890
      </p>
    </div>

    <div class="social-links d-flex justify-content-between align-items-center mt-5">
      <p class="m-0 fw-bold">Follow US On Socials: </p>
      <div class="social-icons d-flex gap-4">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
    </div>
  </div>
</div>
