<div class=" h-100 w-100 border-0 rounded-lg">
  <div class="mb-3 h-100 w-100">
      <img
          [src]="blg.img"
          alt="{{ blg.title }}"
          class="card-img-top w-100 h-100"
      >
  </div>
  <div class="card-body w-100 h-100">
      <p class="card-title mb-2">{{ blg.title }}</p>
      <div class="text-muted">
          <small>
            <time>{{ blg.date }}</time>
              <span class="mx-2">/</span>
          </small>
          <small class="hov">
              {{ blg.author }}
              <span class="mx-2">/</span>
          </small>
          <small class="hov">
              <span>in</span> {{ blg.place }}
          </small>
      </div>
  </div>
</div>
