@import "../../../Sass/variables";
.hov:hover {
  transition: color 0.3s ease-in-out;
  color: $textcolor;
  cursor: pointer;
}
.card-title{
  overflow-wrap: break-word;
}
.card-body {
  padding: 1rem;
}

.card-img-top {
  object-fit: cover;
}
@media (max-width:765px){
  .card-body{
    font-size: 0.8rem;
  }
  .text-muted{
    font-size: 0.5rem;
  }
}
