// Color Palette Variables

$font-family:'Roboto', sans-serif;

$color-light-gray: #CCCCCC;         // Light Gray
$color-muted: #A9A9A9;              // Muted Color

// Additional Variables Based on Use Cases
$color-text: #121212;            // Color of Text
$color-text-secondry: #C58F63;   // Text Color on Hover  // Color of Selected Text        // Price Color
$color-background: #F3F4F6;         // Website Background Color
$color-placeholder: #999999; // Placeholder Color for Inputs
$color-price: #666666; // price Color 
$color-sale-badge: #F04705;          // Sale Badge Color
$color-discount-badge: #97D8CA;     // Discount Badge Color
